.titulo {
    text-align: center;
    color: rgb(255, 0, 0);
    background-color: black;
}

.imagenes-inicio{
    width: 40%;
    height: auto;
    align-items: center;
}

body.inicio {
    background-color: rgba(162, 160, 160, 0.562);
}

.container {
    width: 80%;
    margin: 0 auto;
}

header.mclaren{
    background-color: rgb(255, 128, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}

img {
    width: 100%;
    height: auto;
}

.vuelta{
    color: white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-texto{
    display: block;
    text-align: center;
    padding-bottom: 50px;
    font-family: "Quicksand", sans-serif;
}

.proyectos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    margin: auto;
}

p-texto {
    margin-top: 250px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
}

footer img {
    margin-left: 10px;
    vertical-align: middle;
}

span {
    color: rgb(0, 0, 0);
    font-size: 90%;
    text-align: center;
}

#Fernando {
    width: 5%;
    height: auto;
}