body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.fila-1{
    align-items: center;
    width: 50%;
    height: 50%;
}

header {
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}

img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
}

footer img {
    margin-left: 10px;
    vertical-align: middle;
}

span {
    color: rgb(0, 0, 0);
    font-size: 90%;
    text-align: center;
}

#Fernando {
    width: 5%;
    height: auto;
}